.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  padding: 20px 0;
}

.main-nav { 
  display: flex;
  justify-content: center;
  list-style: none;
}

.main-nav li:not(:last-child) {
  margin-right: 20px;
}

.main-nav li a{
  text-decoration: none;
  color: #fff;
  background-color: #2fac68;
  padding: 5px;
}

.searchInputs { 
  display: flex;
  justify-content: center;
  width: 200px;
}

.searchInputs input {
  width: 200px;
}

header .searchIcon{
  background-color: #2fac68;
  border: none;
  padding: 10px;
  color: #fff;
  font-size: larger;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }
  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }
  .container {
    max-width: 960px;
    margin: auto;
  }
  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
} 

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}
.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}
.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}
.photo-container li:hover img {
  transform: scale(1.65);
}
.photo-container .not-found {
  width: 100%;
}

#search{
  margin: 0 auto;
    display: block;
}